<%- include("includes/head.ejs")%>
<body>
    <h1>The Dice value is <%= dicevalue %> </h1>
        <% if(dicevalue==6) {%>
        <h2>Nice Roll Dice Again.</h2>
        <% } %>

 <%- include("includes/footer.ejs")%>
</body>
</html>